# Owners for this repo, must be github team listed for creditas organization
# for more information see link bellow
# https://creditas.dev/docs/default/component/pull-request-analyzer/index.pt/#validacao-de-arquivo-codeowners
* @Creditas/YOURTEAM