apiVersion: apps.creditas.io/v2alpha1
kind: App
metadata:
  name: kotlin-spring-sample
spec:
#  hooks:
#    migrate:
#      kind: PreRollout
#      env:
#        - name: SPRING_PROFILES_ACTIVE
#          value: dbmigration
  processes:
    web:
      replicas: 2
#    worker:
#      kind: Worker
#      replicas: 2
  routes:
    kotlin-spring-sample.prod.creditas.io:
      paths:
        - path: /
          process: web
      public: false
